<div class="lt-app-nav">
    <div class="panel-shortcuts panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{'lt:appNav.shortcuts' | i18n }}</h3>
        </div>
        <div class="panel-body">
            <ul>

            </ul>
        </div>
    </div>
    <ul class="app-list">
        <li ng-repeat="app in apps" class="app-entry app-entry-{{app.name}}">
            <a ng-href="{{app.entryLink}}">
                <i ng-if="app.iconCls" class="app-icon fa-fw {{app.iconCls}}"></i>
                <span class="app-title">{{ app.nameKey | i18n }}</span>
            </a>
        </li>
    </ul>
</div>